In [ ]:
import pandas as pd;
import os;

In [ ]:
df=pd.read_csv('/content/202101-divvy-tripdata.csv')
print(df)

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
#drop null values from multiple columns

df.dropna(subset=['end_station_name', 'start_station_name','start_station_id','end_station_id','end_lat','end_lng'], inplace=True)
df.isnull().sum()

In [ ]:
df.nunique()

In [ ]:
#export data as excel

import pandas as pd

# Export the DataFrame to an Excel file
df.to_excel('202101-divvy-tripdata.xlsx', index=False)